.list{
  display: inline;
  font-size: 20px;
}

.title{
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.desc{
  width: 800px;
  height: 500px;
}

.diary{
  text-align: center;
  font-size: 30px;
  color: black;
}

.userinfo{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.inside_content{
  margin-left: 15%;
  width: 70%;
  
}

.update_delete{
  text-align: right;
  display: block;
}

.list_in_contentspage{
  width: 7%;
  margin-left: 90%;
  text-align: center;
  font-size: 15px;
  
}

.forspace{
  margin-left: 10px;
  margin-right: 10px;
}