<!DOCTYPE html>

<head>
    <title>contents</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>

    contents page

   
        
                <div class="list">
                    <br>
                    <li class="title"><%= "Title:" + contents.title %></li>
                    <br>
                    <li>
                        <%= "내용:" + contents.description %>
                    </li>
                    <br>
                    <li>
                        <%= "when_written: " + contents.when_written %>
                    </li>
                    <br>
                    <li>
                        <%= "last_updated: " + contents.last_updated %>
                    </li>
                    <hr/>
                </div>
              





</body>